* {
    font-family: Arial, sans-serif;
    font-size: 1em;
}

body {
    background-color: #cc9df8;
}

main {
    background-color: #fff;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px black;
    padding: 10px;
}